<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SiteUrl" value="http://www.panchsheelbooks.com/"/>
		<add key="AdminEmail" value="info@panchsheelbooks.com"/>
		<add key="InfoMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=info@panchsheelbooks.com;ePassword=parken12345;UseSSL=false;EmailFrom=info@panchsheelbooks.com;"/>
		<add key="SalesMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=info@panchsheelbooks.com;ePassword=parken12345;UseSSL=false;EmailFrom=info@panchsheelbooks.com;"/>
		<add key="AccountMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=info@panchsheelbooks.com;ePassword=parken12345;UseSSL=false;EmailFrom=info@panchsheelbooks.com;"/>
		<add key="MERCHANT_KEY" value="jRbBrA"/>
		<add key="SALT" value="S0OpRUzt"/>
		<add key="fail_url" value="http://www.panchsheelbooks.com/ResponseHandling.aspx"/>
		<add key="cancel_url" value="http://www.panchsheelbooks.com/ResponseHandling.aspx"/>
		<add key="success_url" value="http://www.panchsheelbooks.com/ResponseHandling.aspx"/>
		<add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
		<add key="action" value=""/>
		<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
	</appSettings>
	<connectionStrings>
		<remove name="mySQLconn"/>
		<add name="mySQLconn" connectionString="Data Source=localhost;Database=borntoshine;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>
		<!--<add name="mySQLconn" connectionString="Server=198.71.225.64; Port=3306; Database=panchsheelbook;User Id=panchsheelbook; Pooling=True; Password=panchsheelbook1234; Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8.1">
			<assemblies>
				<add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<buildProviders>
				<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal"/>
		</securityPolicy>
		<trust level="Full"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<add name="ScriptHandlerFactory" verb="" path=".asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
</configuration>